.footer {
  background-color: #2a56a8;
  flex: 0 0 auto; }

.header {
  background-color: #393741;
  flex: 0 0 auto; }

.main {
  background-color: #201e23;
  flex: 1 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch; }

.leftbar {
  background-color: #2b2930;
  display: flex;
  flex-direction: row;
  justify-content: flex-start; }
  .leftbar__selector {
    display: flex;
    flex-direction: column;
    background-color: #393741; }
  .leftbar__content {
    display: flex;
    flex-direction: column;
    background-color: #2b2930; }

.eti {
  background-color: #201e23;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1 0 auto; }

.rightbar {
  background-color: #2b2930;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }

.content {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: stretch;
  height: 100vh; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /*
    @include respond(tab-land) { // width < 1200?
        font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
    }

    @include respond(tab-port) { // width < 900?
        font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }
    
    @include respond(big-desktop) {
        font-size: 75%; //1rem = 12, 12/16
    }
    */ }

body {
  padding: 0;
  background-color: #000; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

::selection {
  background-color: #00fde852;
  color: #ffffff; }
