
// FOOTER COLORS
$color-footer: #298d02;


// MAIN COLORS
$color-primary: #20292c;
$color-primary-light: #3a4b50;
$color-primary-light-2: #597179;
$color-primary-light-3: #7d9ba5;

$color-white: #ffffff;
$color-black: #000;

$color-selection-1: #68c77085;

    // FONT COLORS
    $color-font-main: #e0e0e0;
    $color-font-main-dark-1: #b9b9b9;
    $color-font-main-dark-2: #9c9c9c;

    // SIDE MENU COLORS
    $color-element-selected: #5643fa;
    $color-element-hover: #563a66;

    // EDITOR COLORS
    // TODO: EKLENECEK BUNLAR

    // TERMINAL COLORS
    $color-terminal-1: #f5f5f5;


// FONT
$default-font-size: 5.6rem;