
// FOOTER COLORS
$color-footer: #2a56a8;


// MAIN COLORS
$color-primary: #2c1d38;
$color-primary-light: #503766;
$color-primary-light-2: #785299;
$color-primary-light-3: #a06cce;

$color-white: #ffffff;
$color-black: #000;

$color-selection-1: #00fde852;

    // FONT COLORS
    $color-font-main: #e0e0e0;
    $color-font-main-dark-1: #b9b9b9;
    $color-font-main-dark-2: #9c9c9c;

    // SIDE MENU COLORS
    $color-element-selected: #5643fa;
    $color-element-hover: #563a66;

    // EDITOR COLORS
    // TODO: EKLENECEK BUNLAR

    // TERMINAL COLORS
    $color-terminal-1: #f5f5f5;


// FONT
$default-font-size: 5.6rem;