// HEADER COLORS
$color-headerbackground-default_dark: #13002c;

    // LOGODIV
        // LOGO
        $color-spaz-default_dark: #ff0062;

    // PROPERTIES

        // PROP
        $prop-font-default_dark: #c7c7c7;
        $prop-hover-background-default_dark: #260057;
        $prop-hover-font-default_dark: #fff;

            // CONTENT
            $prop-content-background-default_dark: #13002c;
            $prop-content-font-default_dark: #fff;
            $prop-content-item-hover-background-default_dark: #260057;

        // HEADING
        $heading-font-default_dark: #c7c7c7;

        // BUTTONS
        
            // BTNCLOSE
            $buttons-btnclose-fill-default_dark: #c7c7c7;
            $buttons-btnclose-hover-fill-default_dark: #fff;
            $buttons-btnclose-hover-background-default_dark: #ff0077;

            // BTNMINIMIZER
            $buttons-btnMinimizer-fill-default_dark: #c7c7c7;
            $buttons-btnMinimizer-hover-fill-default_dark: #fff;
            $buttons-btnMinimizer-hover-background-default_dark: #67038f79;

            // BTNMINIFIER
            $buttons-btnMinifier-fill-default_dark: #c7c7c7;
            $buttons-btnMinifier-hover-fill-default_dark: #fff;
            $buttons-btnMinifier-hover-background-default_dark: #67038f79;