/*----IMPORT COLORS----*/
@import "default_dark_colors";


.default_dark {

    &__header {
        background-color: $color-headerbackground-default_dark;
        font-family: "OpenSans-Regular";
        font-size: 1.35rem;

        &__logoDiv__logo {
            fill: $color-spaz-default_dark;
        }

        &__properties {

            &__prop {
                background-color: inherit;
                color: $prop-font-default_dark;

                &:hover, &:focus {
                    background-color: $prop-hover-background-default_dark;
                    color: $prop-hover-font-default_dark;
                }

                // TODO: CONTENT FLEX OLARAK VE ELEMANLAR DIV OLARAK DEGISTIRILECK
                &__content {
                    background-color: $prop-content-background-default_dark;

                    &__item {
                        color:  $prop-content-font-default_dark;

                        &:hover {
                            background-color: $prop-content-item-hover-background-default_dark;
                        }
                    }
                }               
            }
        }

        &__heading {
            color: $heading-font-default_dark;
        }

        &__buttons {

            &__btnClose {
                fill: $buttons-btnclose-fill-default_dark;
                background-color: inherit;

                &:hover {
                    fill: $buttons-btnclose-hover-fill-default_dark;
                    background-color: $buttons-btnclose-hover-background-default_dark;
                } 
            }

            &__btnMinimizer {
                fill: $buttons-btnMinimizer-fill-default_dark;
                background-color: inherit;

                &:hover {
                    fill: $buttons-btnMinimizer-hover-fill-default_dark;
                    background-color: $buttons-btnMinimizer-hover-background-default_dark;
                } 
            }

            &__btnMinifier {
                fill: $buttons-btnMinifier-fill-default_dark;
                background-color: inherit;

                &:hover {
                    fill: $buttons-btnMinifier-hover-fill-default_dark;
                    background-color: $buttons-btnMinifier-hover-background-default_dark;
                } 
            }
        }
    }
}