$primary-default_dark-selection: #00ffbf;

// HEADER COLORS

$header-background_default_dark: #00277c;

    // LOGO DIV LOGO
    $header-logo-fill_default_dark: #ff006a;

    // PROPERTIES
        // PROP
        $header-properties-prop-font_default_dark: #dbdbdb;
        $header-properties-prop-hoverandfocus-background_default_dark: #013cbb;
        $header-properties-prop-hoverandfocus-font_default_dark: #ffffff;

        // HEADING
        $header-properties-heading-font_default_dark: #dbdbdb;

        // BUTTONS

            // BUTTON CLOSE
            $header-properties-buttons-button-close-fill_default_dark: #dbdbdb;
            $header-properties-buttons-button-close-hover-fill_default_dark: #fff;
            $header-properties-buttons-button-close-hover-background_default_dark: #ff0077;


            // BUTTON MINIMIZER
            $header-properties-buttons-button-minimizer-fill_default_dark: #dbdbdb;
            $header-properties-buttons-button-minimizer-hover-fill_default_dark: #ffffff;
            $header-properties-buttons-button-minimizer-hover-background-color: #013cbb;

            // BUTTON MINIFIER
            $header-properties-buttons-button-minifier-fill_default_dark: #dbdbdb;
            $header-properties-buttons-button-minifier-hover-fill_default_dark: #ffffff;
            $header-properties-buttons-button-minifier-hover-background-color: #013cbb;
            

// MAIN COLORS

    // LEFTBAR
    $leftbar-background_default_dark: #003747;

        // SELECTOR
        $leftbar-selector-background_default_dark: #00226d;

            // ELEMENT
            $leftbar-selector-element-fill_default_dark: #dbdbdb;
            $leftbar-selector-element-hover-fill_default_dark: #ffffff;
            $leftbar-selector-element-hover-background_default_dark: #002d8d;
            $leftbar-selector-element-active-background_default_dark: #0040c9;

                // MODIFIER
                    // TODO: SIMDILIK BOS

            // CONTENT
            $leftbar-selector-content-background_default_dark: #001747;

                // DATA
                $leftbar-selector-content-data-background_default_dark: #001747;
                $leftbar-selector-content-data-font_default_dark: #dbdbdb;
                // HEADER

                // ELEMENT

                
        
    // ETI
    $eti-background_default_dark: #000f30;

        // HEADER
        $eti-header-background_default_dark: #001747;
        $eti-header-font_default_dark: #dbdbdb;

        // CONTAINER
        $eti-container-background_default_dark: #000f30;
        $eti-container-font_default_dark: #dbdbdb;

        // TERMINT
        $eti-termint-background_default_dark: #000f30;
        $eti-termint-font_default_dark: #dbdbdb;

            // HEADER
            $eti-termint-header-background_default_dark: #000f30;

    // RIGHTBAR
    $rightbar-background_default_dark: #001747;
    $rightbar-font_default_dark: #dbdbdb;

// FOOTER COLORS
$footer-background_default_dark: #44006b;

// UTIL COLORS

    // DROPDOWN
    $dropdown-background_default_dark: #001747;
    $dropdown-font_default_dark: #dbdbdb;

    // ELEMENT
    $dropdown-element-hover-background_default_dark: #002880;

    // TOOLTIP
    $tooltip-background_default_dark: #000;
    $tooltip-font_default_dark: #fff;

    // RESIZER
    $eti-termint-resizer-background_default_dark: #333b4d;
    $leftbar-resizer-background_default_dark: #001747;