.default_dark__filetreecontainer {

    &__treeheading {

        transition: color .5s,
                    fill .5s,
                    background-color .5s;

        color: $leftbar-filetree-element-font_default_dark;
        fill: $leftbar-filetree-element-font_default_dark;


        //border-top: thin solid $leftbar-filetree-header-border-top;

        &:hover {
            color: $leftbar-filetree-element-font-hover__default_dark;
            fill: $leftbar-filetree-element-font-hover__default_dark;
        }

        &__namesymbolgroup {



            &__name {

            }
    
            &__symbol {
                

                &__svg {


                    &__folderShrinked {

                    }

                    &__folderExpanded {
                
                    }
                }    
            }

        }

        // TODO: SONRADAN SECENEKLERI EKLE!
        &__choices {


        }
    }
}





.default_dark__filetree {


    



    &:hover {

        &::-webkit-scrollbar-thumb {
            background-color: rgba($leftbar-filetree-scrollbar-background_default_dark,.5);
            
        }

        & .default_dark__filetree__row__namegroup__indentation__svg {
            fill: $leftbar-filetree-indentation_background_hovered_default_dark;
        }

    }

    &::-webkit-scrollbar-thumb {
        transition: background-color 1s ease-in;
        background-color: rgba($leftbar-filetree-scrollbar-background_default_dark,.0);
        
    }

    &__row {

        color: $leftbar-filetree-element-font_default_dark;

        &:hover {
            background-color: $leftbar-filetree-element-hover-background_default_dark;
        }

        &__namegroup {


            &__indentation {

                &__svg {
                    transition: fill .5s;
                    fill: $leftbar-filetree-indentation_background_idle_default_dark;
                }
            }

            &__symbol {

                &__svg {

                    fill: $leftbar-filetree-element-font_default_dark;

                    &__folderShrinked {
                        fill: $leftbar-filetree-element-font_default_dark;
                    }

                    &__folderExpanded {
                        fill: $leftbar-filetree-element-font_default_dark;
                    }
                }
            }

            &__name {

            }

        }


        // TODO: DOLDUR
        // FIXME: DAHA GUZEL AD BULUNCA 
        // DEGISTIR!
        &__modifier {

        }
    }


}