// TOOLTIP RIGHT
.default_dark__tooltipRight {

    & .tooltiptext {
        background-color: $tooltip-background_default_dark;
        color: $tooltip-font_default_dark;
        box-shadow: 3px 3px 3px rgba(#000, 0.5);
        font-family: "Ubuntu-Regular";
        font-size: 1.2rem;
    }

    & .tooltiptext::after {
        border-color: transparent $tooltip-background_default_dark transparent transparent;
    }
}

// TOOLTIP LEFT
.default_dark__tooltipLeft {

    & .tooltiptext {

        background-color: $tooltip-background_default_dark;
        color: $tooltip-font_default_dark;
        box-shadow: 3px 3px 3px rgba(#000, 0.5);
        font-family: "Ubuntu-Regular";
        font-size: 1.2rem;
    }

    & .tooltiptext::after {
        border-color: transparent transparent transparent $tooltip-background_default_dark;
    }
}

// TOOLTIP DOWN
.default_dark__tooltipDown {

    & .tooltiptext {
        background-color: $tooltip-background_default_dark;
        color: $tooltip-font_default_dark;
        box-shadow: 3px 3px 3px rgba(#000, 0.5);
        font-family: "Ubuntu-Regular";
        font-size: 1.2rem;
    }

    & .tooltiptext::after {
        border-color: transparent transparent $tooltip-background_default_dark transparent;
    }
}

// TOOLTIP UP
.default_dark__tooltipUp {

    & .tooltiptext {
        background-color: $tooltip-background_default_dark;
        color: $tooltip-font_default_dark;
        box-shadow: 3px 3px 3px rgba(#000, 0.5);
        font-family: "Ubuntu-Regular";
        font-size: 1.2rem;
    }

    & .tooltiptext::after {
        border-color: $tooltip-background_default_dark transparent transparent transparent;
    }
}