// INCONSOLATA FAMILY
/////////////////////////////////////////////////////////////////////////////////////
@font-face {
     font-family: "Inconsolata-Bold";
     src: url("./fonts/inconsolata/Inconsolata-Bold.ttf") format('truetype');
 }
 @font-face {
    font-family: "Inconsolata-ExtraBold";
    src: url("./fonts/inconsolata/Inconsolata-ExtraBold.ttf") format('truetype');
}
@font-face {
    font-family: "Inconsolata-ExtraLight";
    src: url("./fonts/inconsolata/Inconsolata-ExtraLight.ttf") format('truetype');
}
@font-face {
    font-family: "Inconsolata-Light";
    src: url("./fonts/inconsolata/Inconsolata-Light.ttf") format('truetype');
}
@font-face {
    font-family: "Inconsolata-Medium";
    src: url("./fonts/inconsolata/Inconsolata-Medium.ttf") format('truetype');
}
@font-face {
    font-family: "Inconsolata-Regular";
    src: url("./fonts/inconsolata/Inconsolata-Regular.ttf") format('truetype');
}
@font-face {
    font-family: "Inconsolata-SemiBold";
    src: url("./fonts/inconsolata/Inconsolata-SemiBold.ttf") format('truetype');
}
//////////////////////////////////////////////////////////////////////////////////////

// JURA FAMILY
//////////////////////////////////////////////////////////////////////////////////////
@font-face {
    font-family: "Jura-Bold";
    src: url("./fonts/jura/Jura-Bold.ttf") format('truetype');
}
@font-face {
    font-family: "Jura-Light";
    src: url("./fonts/jura/Jura-Light.ttf") format('truetype');
}
@font-face {
    font-family: "Jura-Medium";
    src: url("./fonts/jura/Jura-Medium.ttf") format('truetype');
}
@font-face {
    font-family: "Jura-Regular";
    src: url("./fonts/jura/Jura-Regular.ttf") format('truetype');
}
@font-face {
    font-family: "Jura-SemiBold";
    src: url("./fonts/jura/Jura-SemiBold.ttf") format('truetype');
}
//////////////////////////////////////////////////////////////////////////////////////

// OPEN SANS FAMILY
//////////////////////////////////////////////////////////////////////////////////////
@font-face {
    font-family: "OpenSans-Bold";
    src: url("./fonts/open_sans/OpenSans-Bold.ttf") format('truetype');
}
@font-face {
    font-family: "OpenSans-BoldItalic";
    src: url("./fonts/open_sans/OpenSans-BoldItalic.ttf") format('truetype');
}
@font-face {
    font-family: "OpenSans-ExtraBold";
    src: url("./fonts/open_sans/OpenSans-ExtraBold.ttf") format('truetype');
}
@font-face {
    font-family: "OpenSans-ExtraBoldItalic";
    src: url("./fonts/open_sans/OpenSans-ExtraBoldItalic.ttf") format('truetype');
}
@font-face {
    font-family: "OpenSans-Italic";
    src: url("./fonts/open_sans/OpenSans-Italic.ttf") format('truetype');
}
@font-face {
    font-family: "OpenSans-Light";
    src: url("./fonts/open_sans/OpenSans-Light.ttf") format('truetype');
}
@font-face {
    font-family: "OpenSans-LightItalic";
    src: url("./fonts/open_sans/OpenSans-LightItalic.ttf") format('truetype');
}
@font-face {
    font-family: "OpenSans-Regular";
    src: url("./fonts/open_sans/OpenSans-Regular.ttf") format('truetype');
}
@font-face {
    font-family: "OpenSans-SemiBold";
    src: url("./fonts/open_sans/OpenSans-SemiBold.ttf") format('truetype');
}
@font-face {
    font-family: "OpenSans-SemiBoldItalic";
    src: url("./fonts/open_sans/OpenSans-SemiBoldItalic.ttf") format('truetype');
}
//////////////////////////////////////////////////////////////////////////////////////

// RALEWAY FAMILY
//////////////////////////////////////////////////////////////////////////////////////
@font-face {
    font-family: "Raleway-Black";
    src: url("./fonts/raleway/Raleway-Black.ttf") format('truetype');
}
@font-face {
    font-family: "Raleway-BlackItalic";
    src: url("./fonts/raleway/Raleway-BlackItalic.ttf") format('truetype');
}
@font-face {
    font-family: "Raleway-Bold";
    src: url("./fonts/raleway/Raleway-Bold.ttf") format('truetype');
}
@font-face {
    font-family: "Raleway-BoldItalic";
    src: url("./fonts/raleway/Raleway-BoldItalic.ttf") format('truetype');
}
@font-face {
    font-family: "Raleway-ExtraBold";
    src: url("./fonts/raleway/Raleway-ExtraBold.ttf") format('truetype');
}
@font-face {
    font-family: "Raleway-ExtraBoldItalic";
    src: url("./fonts/raleway/Raleway-ExtraBoldItalic.ttf") format('truetype');
}
@font-face {
    font-family: "Raleway-ExtraLight";
    src: url("./fonts/raleway/Raleway-ExtraLight.ttf") format('truetype');
}
@font-face {
    font-family: "Raleway-ExtraLightItalic";
    src: url("./fonts/raleway/Raleway-ExtraLightItalic.ttf") format('truetype');
}
@font-face {
    font-family: "Raleway-Italic";
    src: url("./fonts/raleway/Raleway-Italic.ttf") format('truetype');
}
@font-face {
    font-family: "Raleway-Light";
    src: url("./fonts/raleway/Raleway-Light.ttf") format('truetype');
}
@font-face {
    font-family: "Raleway-LightItalic";
    src: url("./fonts/raleway/Raleway-LightItalic.ttf") format('truetype');
}
@font-face {
    font-family: "Raleway-Medium";
    src: url("./fonts/raleway/Raleway-Medium.ttf") format('truetype');
}
@font-face {
    font-family: "Raleway-MediumItalic";
    src: url("./fonts/raleway/Raleway-MediumItalic.ttf") format('truetype');
}
@font-face {
    font-family: "Raleway-Regular";
    src: url("./fonts/raleway/Raleway-Regular.ttf") format('truetype');
}
@font-face {
    font-family: "Raleway-SemiBold";
    src: url("./fonts/raleway/Raleway-Semibold.ttf") format('truetype');
}
@font-face {
    font-family: "Raleway-SemiBoldItalic";
    src: url("./fonts/raleway/Raleway-SemiBoldItalic.ttf") format('truetype');
}
@font-face {
    font-family: "Raleway-Thin";
    src: url("./fonts/raleway/Raleway-Thin.ttf") format('truetype');
}
@font-face {
    font-family: "Raleway-ThinItalic";
    src: url("./fonts/raleway/Raleway-ThinItalic.ttf") format('truetype');
}
//////////////////////////////////////////////////////////////////////////////////////