.filetreecontainer {

    &__treeheading {

        &__namesymbolgroup {

            &__name {
                font-family: "Raleway-Bold";
                font-size: 1.2rem;
                text-transform: uppercase;
                text-rendering: optimizeSpeed;
            }
    

        }

    }
}

.filetree {

    &__row {
        font-size: 1.17rem;
        font-family: "Raleway-Regular";
        text-rendering: optimizeSpeed;
        
        &__namegroup {

            &__name {
                overflow: hidden;
                text-overflow: ellipsis;
            }

        }


        // TODO: DOLDUR
        // FIXME: DAHA GUZEL AD BULUNCA 
        // DEGISTIR!
        &__modifier {

        }
    }


}