.filetreecontainer {

    &__treeheading {

        &__namesymbolgroup {

            &__name {
                font-family: "Raleway-Bold";
                font-size: 1.2rem;
                text-transform: uppercase;
                text-rendering: optimizeSpeed;
            }
    

        }

    }
}

.filetree {

    &__folderselectpart {


        &__folderselectionexplanation {


            &__overflowheading {
                font-size: 1.7rem;
                font-family: "Roboto-Bold";
                text-transform: uppercase;
                text-align: center;
            }

            &__overflowparagraph {
                font-size: 1.5rem;
                font-family: "Roboto-Regular";
            }
        }
    }

    &__row {
        font-size: 1.17rem;
        font-family: "Raleway-Regular";
        text-rendering: optimizeSpeed;
        
        &__namegroup {

            &__name {
                overflow: hidden;
                text-overflow: ellipsis;
            }

        }


        // TODO: DOLDUR
        // FIXME: DAHA GUZEL AD BULUNCA 
        // DEGISTIR!
        &__modifier {

        }
    }


}