.header {

    font-family: "OpenSans-Regular";
    font-size: 1.2rem;
    


    &__properties {


        &__prop {


            &__content {
                
                &__show {

                }
            }

            &__content a {

            }
        }
    }

    &__controller {

    }

    &__heading {

        font-family: "Montserrat-Regular";
        font-size: 1.2rem;

    }


}