.leftbar {

    &__selector {


        &__group {

        }

        &__element {





            &__modifier {

            }
        }

    }

    &__content {

        font-family: "Roboto-Regular";
        
        &__data {

            &__header {
                font-family: "Raleway-Regular";
                font-size: 1.2rem;
                text-transform: uppercase;
                font-weight: 300;
                text-rendering: optimizeSpeed;
                letter-spacing: .1rem;
            }

        }

        &__header {

        }

        &__element {

        }

        &__split_handler {

        }
    }

}