// TOOLTIP RIGHT
.tooltipRight {

    & .tooltiptext {
        font-family: "Ubuntu-Regular";
        font-size: 1.2rem;
    }

}

// TOOLTIP LEFT
.tooltipLeft {

    & .tooltiptext {

        font-family: "Ubuntu-Regular";
        font-size: 1.2rem;
    }


}

// TOOLTIP DOWN
.tooltipDown {

    & .tooltiptext {

        font-family: "Ubuntu-Regular";
        font-size: 1.2rem;
    }

}

// TOOLTIP UP
.tooltipUp {

    & .tooltiptext {
        font-family: "Ubuntu-Regular";
        font-size: 1.2rem;
    }

}