// ETI (EDITOR + TERMINAL + INTERPRETER)

.eti {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1 1 auto;
    align-items: stretch;
    min-width: 0rem;
    min-height: 0rem;
    overflow: hidden;

    &__header {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
        flex: 0 1 auto;
        min-width: 0rem;
        min-height: 0rem;
        overflow: hidden;

    }

    &__container {
        flex: 1 1 auto;
        overflow: hidden;
        height: 100%;
        width: 100%;
        
    }

    &__termint {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        flex: 0 1 auto;
        overflow: hidden;

        &__header {
        }
    }

}