// ETI (EDITOR + TERMINAL + INTERPRETER)

.eti {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1 1 auto;
    align-items: stretch;
    min-width: 0rem;
    min-height: 0rem;
    height: 100%;

    &__header {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
        flex: 0 0 auto;
        min-width: 0rem;
        min-height: 0rem;

    }

    &__container {
        position: relative;
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        height: 100%;
        width: 100%;
        
    }

    &__termint {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        justify-self: auto;
        flex: 1 1 auto;
        
        &__header {
        }
    }

}