.header {
    background-color: $color-primary-light-3;
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    justify-content: space-between;
    justify-items: start;
    align-items: stretch;
    -webkit-user-select: none;
    -webkit-app-region: drag;
    font-family: "Roboto-Regular";
    font-size: 1.23rem;
    filter: brightness(0.75);

    &__focused {
        filter: brightness(1);
    }


    &__logoDiv {
        margin-right: 1rem;
        display: flex;
        height: 3rem;
        width: 3rem;
        align-self: center;
        margin-left: .5rem;
        &__logo {
            height: 2rem;
            width: 2rem;
            align-self: center;
            margin-left: 1.2rem;
            fill: $color-spaz;
            //filter: drop-shadow( 0rem 0.1rem 0.1rem rgba($color-spaz-glow, 0.3));
        }
        
    }

    &__properties {
        -webkit-app-region: no-drag;
        display: flex;
        flex-direction: row;
        flex: 0 0 auto;
        letter-spacing: .05rem;

        &__prop {
            background-color: inherit;
            align-self: center;
            display: flex;
            height: 100%;
            width: 100%;
            color: $color-font-main-dark-2;
            border: none;
            cursor: default;
            //transition: background-color .2s, color .2s;

            &__name {
                align-self: center;
                padding: .8rem .8rem .8rem .8rem;
            }


            &:hover, &:focus {
                background-color: $color-primary-light-5;
                color: $color-font-main;
            }

            &__content {
                display: none;
                background-color: $color-primary-light-2;
                min-width: 15rem;
                overflow: auto;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;

                &__show {
                    display: block;
                }
            }

            &__content a {
                color: $color-white;
                text-decoration: none;
                display: block;

                &:hover {
                    background-color: $color-selection-2;
                }
            }
        }
    }

    &__heading {
        -webkit-app-region: drag;
        display: flex;
        text-decoration: none;
        text-transform: capitalize;
        align-self: center;
        transform: translateX(-5rem);
        //cursor: default;
        color: $color-font-main-dark-2;
        font-family: "Montserrat-Regular";
        font-size: 1rem;

        @include respond(tab-port) {
            transform: translateX(0);
        }

        
    }

    &__buttons {
        -webkit-app-region: no-drag;
        display: flex;
        flex-direction: row;
        align-items: stretch;

        &__iconDiv {
            display: flex;
            height: 3rem;
            width: 4.5rem;
            align-items: stretch;
            &__icon {
                display: flex;
                margin: auto;
                height: 1rem;
                width: 1rem;
            }
            
        }

        &__btnClose {
            display: flex;
            fill: $color-font-main-dark-2;
            background-color: inherit;
            //transition: background-color .5s;
            align-items: center;
            align-self: stretch;
            &:hover {
                fill: $color-font-main;
                background-color: $color-close-button;
            }
        }

        &__btnMinimizer {
            display: flex;
            fill: $color-font-main-dark-1;
            background-color: inherit;
            //transition: background-color .5s;
            align-items: center;
            &:hover {
                fill: $color-font-main;
                background-color: $color-minimize-button;
            }
        }

        &__btnMinifier {
            display: flex;
            fill: $color-font-main-dark-1;
            background-color: inherit;
            //transition: background-color .5s;
            align-items: center;
            &:hover {
                fill: $color-font-main;
                background-color: $color-minify-button;
            } 
        }
    }

}