.leftbar {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex: 0 0 auto;
    min-width: 5.3rem;
    min-height: 0rem;
    height: 100%;
    &__selector {
        position: relative;
        display: flex;
        flex-direction: column;
        flex: 0 0 auto;
        width: 5.3rem;
        min-width: 5.3rem;
        justify-items: end;
        justify-content: space-between;

        &__group {
            display: flex;
            flex-direction: column;
        }

        &__element {
            position: relative;
            display: flex;
            align-items: center;
            align-self: stretch;

            &:hover {
                cursor: pointer;
                transition: .3s;

            }

            &:active {

            }
            
            &__active {

            }

            &__icon {
                position: relative;
                height: 3rem;
                width: 3rem;
                align-self: stretch;
                flex: 1 0 auto;
                margin: 1.2rem 1rem 1.5rem 1rem;

            }



            &__modifier {

            }
        }

    }

    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        flex: 0 0 auto;
        overflow: hidden;
        -webkit-user-select: none;
        justify-items: flex-end;
        text-overflow: ellipsis;
        white-space: nowrap;
        
        width: 100%;
        height: 100%;

        //&:not(:last-child) {
         //   border-bottom: .5rem solid $color-primary-3;

        //}

        // Selector spesific settings and heading
        &__data {
            display: flex;
            flex-direction: column;
            flex: 1 0 auto;
            min-height: 0;
            overflow: scroll;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
            height: 100%;
            justify-self: end;
            justify-content: flex-start;

        }

        &__header {

        }

        &__element {

        }
    }

}