.leftbar {
    background-color: $color-primary-1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex: 0 1 auto;
    min-width: 0rem;
    min-height: 0rem;

    &__selector {
        display: flex;
        flex-direction: column;
        background-color: $color-primary-2;
        flex: 0 0 auto;
        width: 5.3rem;
        justify-items: start;
        justify-content: space-between;

        &__group {
            display: flex;
            flex-direction: column;
        }

        &__element {
            position: relative;
            display: flex;
            align-items: center;
            fill: $color-font-main-dark-2;
            align-self: stretch;

            &:hover {
                fill: $color-white;
                background-color: #8d00df;
                cursor: pointer;
                transition: .3s;

            }

            &:active {
                background-color: #6c00aa;
            }
            
            &__active {
                fill: $color-white;
                background-color: #4e4752
            }

            &__icon {
                position: relative;
                height: 3rem;
                width: 3rem;
                align-self: stretch;
                flex: 1 0 auto;
                margin: 1.2rem 1rem 1.5rem 1rem;

            }



            &__modifier {

            }
        }

    }

    &__content {
        position: relative;
        display: flex;
        flex-direction: row;
        background-color: $color-primary-1;
        flex: 0 1 auto;
        overflow: hidden;
        -webkit-user-select: none;

        //&:not(:last-child) {
         //   border-bottom: .5rem solid $color-primary-3;

        //}

        // Selector spesific settings and heading
        &__data {
            flex: 0 0 auto;
            //overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            min-width: 0;
        }

        &__header {

        }

        &__element {

        }

        &__split_handler {
            display: inline-block;
            height: 100%;
            opacity: 0;
            width: .5rem;
            margin-left: -.5rem;
            flex: 0 0 auto;
            background-color: $color-primary-1;
            cursor: ew-resize;
        }
    }

}