$button-close-default_light: #ff0077;
$button-close-hover-fill-default_light: #fff;

$color-logo-default_light: #ff5e00;

$primary-default_light-lighter-1:#ffffff;
$primary-default_light:   #ffebd7;
$primary-default_light-1: #ffe2c4;
$primary-default_light-2: #ffd8a6;
$primary-default_light-3: #ffcb8c;
$primary-default_light-4: #ffbc65;
$primary-default_light-5: #ffac40;
$primary-default_light-6: #fa8e00;
$primary-default_light-selection: #7a4500;

$secondary-default_light: #d3fff0;
$secondary-default_light-1: #bdfce7;
$secondary-default_light-2: #95ffdc;
$secondary-default_light-3: #88ffd7;

$font-default_light: #4d4d4d;
$font-default_light-dark-1: #383838;
$font-default_light-dark-2: #2e2e2e;

$svg-default_light: #b6a188;
$svg-default_light-1: #948571;
$svg-default_light-2: #7c6e5b;
$svg-default_light-3: #5f5547;


$termint_eti_resizer_default_light: #d8d8d8;
$leftbar_main_resizer_default_light: #47474700;


$tooltip-background_default_light: #000;
$tooltip-font_default_light: #fff;

$dropdown-background_default_light: #b46600;
$dropdown-font_default_light: #ffffff;