$button-close-default_light: #ff0077;
$button-close-hover-fill-default_light: #fff;

$color-logo-default_light: #860034;

$primary-default_light: #ffffff;
$primary-default_light-1: #ebd5ff;
$primary-default_light-2: #e9b8ff;
$primary-default_light-3: #e2a3ff;

$secondary-default_light: #d3fff0;
$secondary-default_light-1: #bdfce7;
$secondary-default_light-2: #95ffdc;
$secondary-default_light-3: #88ffd7;

$font-default_light: #28003a;
$font-default_light-dark-1: #220031;
$font-default_light-dark-2: #1a0025;