.default_light {

    &__header {
        background-color: $header-background_default_light;

        &__logoDiv__logo {
            fill: $header-logo-fill_default_light;
        }

        &__properties {

            &__prop {
                background-color: inherit;
                color: $header-properties-prop-font_default_light;

                &:hover, &:focus {
                    background-color: $header-properties-prop-hoverandfocus-background_default_light;
                    color: $header-properties-prop-hoverandfocus-font_default_light;
                }              
            }
        }

        &__heading {
            color: $header-properties-heading-font_default_light;
        }

        &__buttons {

            &__btnClose {
                fill: $header-properties-buttons-button-close-fill_default_light;
                background-color: inherit;

                &:hover {
                    fill: $header-properties-buttons-button-close-hover-fill_default_light;
                    background-color: $header-properties-buttons-button-close-hover-background_default_light;
                } 
            }

            &__btnMinimizer {
                fill: $header-properties-buttons-button-minimizer-fill_default_light;
                background-color: inherit;

                &:hover {
                    fill: $header-properties-buttons-button-minimizer-hover-fill_default_light;
                    background-color: $header-properties-buttons-button-minimizer-hover-background-color;
                } 
            }

            &__btnMinifier {
                fill: $header-properties-buttons-button-minifier-fill_default_light;
                background-color: inherit;

                &:hover {
                    fill: $header-properties-buttons-button-minifier-hover-fill_default_light;
                    background-color: $header-properties-buttons-button-minifier-hover-background-color;
                } 
            }
        }
    }
}