.default_light {

    &__leftbar {
        background-color: $leftbar-background_default_light;
    
        &__selector {
            background-color: $leftbar-selector-background_default_light;
    
    
    
            &__element {
                fill: $leftbar-selector-element-fill_default_light;
    
                &:hover {
                    fill: $leftbar-selector-element-hover-fill_default_light;
                    background-color: $leftbar-selector-element-hover-background_default_light;
                }
    
                &:active {
                    background-color: $leftbar-selector-element-active-background_default_light;
                }
                
    
                &__modifier {
    
                }
            }
    
        }
    
        &__content {

            background-color:$leftbar-selector-content-background_default_light;

            &__data {
                background-color: $leftbar-selector-content-data-background_default_light;
                color: $leftbar-selector-content-data-font_default_light;
            }
    
            
            //&:not(:last-child) {
             //   border-bottom: .5rem solid $color-primary-3;
    
            //}
    
            // Selector spesific settings and heading
    
            &__header {
    
            }
    
            &__element {
    
            }
    
            &__split_handler {
                background-color: $color-primary-1;
            }
        }
    
    }

}