// THEME COLORS

    // DARK THEME

        // BASE
        // TODO: YAPILACAK
        
        // HEADER
        $color-headerbackground-dark: #13002c;
        $color-spaz-dark: #ff0065;


// BASE COLORS
$color-white: #ffffff;
$color-black: #000;

$color-selection-1: #00fde852;
$color-selection-2: #00fd877a;

$color-selection-3: #03ff9b;
// FOOTER COLORS
$color-footer-primary: #1c74da;


// HEADER COLORS
$color-spaz: #ff0065;
$color-spaz-glow: #ff6191;

$color-close-button: #fd0262;
$color-minimize-button: #ea05ff81;
$color-minify-button: #ea05ff81;

// MAIN COLORS
$color-primary: #1d1d1d;
$color-primary-1: #242424;
$color-primary-2: #303030;
$color-primary-3: #13002c;
$color-primary-4: #0b001f;
$color-primary-5: #1e0055;
$color-primary-6: #494949;

    // FONT COLORS
    $color-font-main: #e9e9e9;
    $color-font-main-dark-1: #cfcfcf;
    $color-font-main-dark-2: #858585;

    // SIDE MENU COLORS
    $color-element-selected: #5643fa;
    $color-element-hover: #563a66;

    // EDITOR COLORS
    // TODO: EKLENECEK BUNLAR

    // TERMINAL COLORS
    $color-terminal-1: #f5f5f5;


// FONT
$default-font-size: 5.6rem;