// BASE COLORS
$color-white: #ffffff;
$color-black: #000;

$color-selection-1: #00fde852;
$color-selection-2: #00fd877a;

$color-selection-3: #03ff9b;
// FOOTER COLORS
$color-footer: #2a86ff;


// HEADER COLORS
$color-spaz: #ff0065;
$color-spaz-glow: #ff6191;

$color-close-button: #fd0262;
$color-minimize-button: #02af6d81;
$color-minify-button: #ea05ff81;

// MAIN COLORS
$color-primary: #111013;
$color-primary-light: #1a181d;
$color-primary-light-2: #1e1d22;
$color-primary-light-3: #2d2b33;
$color-primary-light-4: #312e38;
$color-primary-light-5: #3e3d42;
$color-primary-light-6: #47464d;

    // FONT COLORS
    $color-font-main: #d8d8d8;
    $color-font-main-dark-1: #b9b9b9;
    $color-font-main-dark-2: #9c9c9c;

    // SIDE MENU COLORS
    $color-element-selected: #5643fa;
    $color-element-hover: #563a66;

    // EDITOR COLORS
    // TODO: EKLENECEK BUNLAR

    // TERMINAL COLORS
    $color-terminal-1: #f5f5f5;


// FONT
$default-font-size: 5.6rem;