.cinar_light__dropdown {
    position: relative;

    & .dropdownbox {
        background-color: $dropdown-background_cinar_light;
        color: $dropdown-font_cinar_light;
        box-shadow: 3px 0px 3px rgba(#000, 0.3),
                    -3px 0px 3px rgba(#000, 0.3),
                    0px 3px 3px rgba(#000, 0.5);
        font-family: "Roboto-Light";
        font-size: 1.15rem;

        & .dropdownElement {

            &:hover {
                background-color: $dropdown-element-hover-background_cinar_light;
            }
        }
    }

}