.cinar_light {
    // ETI (EDITOR + TERMINAL + INTERPRETER)

    &__eti {

        background-color: $eti-background_cinar_light;

        &__header {
            background-color: $eti-header-background_cinar_light;
            color: $eti-header-font_cinar_light;
        }

        &__container {
            background-color: $eti-container-background_cinar_light;
            color: $eti-container-font_cinar_light;
        }

        &__termint {
            background-color: $eti-termint-background_cinar_light;
            color:  $eti-termint-font_cinar_light;
            &__header {
                background-color: $eti-termint-header-background_cinar_light;
            }
        }

    }
}