$button-close-cinar_light: #ff0077;
$button-close-hover-fill-cinar_light: #fff;

$color-logo-cinar_light: #553a00;

$primary-cinar_light-lighter-1:#ffffff;
$primary-cinar_light:   #daffda;
$primary-cinar_light-1: #ceffce;
$primary-cinar_light-2: #bfffbf;
$primary-cinar_light-3: #9aff9a;
$primary-cinar_light-4: #86ff86;
$primary-cinar_light-5: #76ff76;
$primary-cinar_light-6: #67ff67;
$primary-cinar_light-selection: #008000;

$secondary-cinar_light: #d3fff0;
$secondary-cinar_light-1: #bdfce7;
$secondary-cinar_light-2: #95ffdc;
$secondary-cinar_light-3: #88ffd7;

$font-cinar_light: #4d4d4d;
$font-cinar_light-dark-1: #383838;
$font-cinar_light-dark-2: #2e2e2e;

$svg-cinar_light: #8db688;
$svg-cinar_light-1: #7ea37a;
$svg-cinar_light-2: #6b8b68;
$svg-cinar_light-3: #577055;

$termint_eti_resizer_cinar_light: #d8d8d8;
$leftbar_main_resizer_cinar_light: #47474700;