$button-close-cinar_light: #ff0077;
$button-close-hover-fill-cinar_light: #fff;

$color-logo-cinar_light: #d0ff00;

$primary-cinar_light-lighter-1:#ffffff;
$primary-cinar_light:   #f2faf2;
$primary-cinar_light-1: #e6ffe6;
$primary-cinar_light-2: #dfffdf;
$primary-cinar_light-3: #b9ffb9;
$primary-cinar_light-4: #a9fda9;
$primary-cinar_light-5: #9eff9e;
$primary-cinar_light-6: #7dff7d;
$primary-cinar_light-selection: #008000;

$secondary-cinar_light: #d3fff0;
$secondary-cinar_light-1: #bdfce7;
$secondary-cinar_light-2: #95ffdc;
$secondary-cinar_light-3: #88ffd7;

$font-cinar_light: #4d4d4d;
$font-cinar_light-dark-1: #383838;
$font-cinar_light-dark-2: #2e2e2e;

$svg-cinar_light: #8db688;
$svg-cinar_light-1: #7ea37a;
$svg-cinar_light-2: #6b8b68;
$svg-cinar_light-3: #577055;